@import '../../../assets/styles/breakpoints';
@import '../../../assets/styles/typography';
@import '../../../assets/styles/base';

.banner {
  padding: 32px;
  display: flex;
  min-height: 250px;
  margin-bottom: 32px;
  flex-direction: column;
  align-items: center;

  @include media(tablet) {
    flex-direction: row;
    align-items: stretch;
  }

  .banner__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    width: 100%;
    justify-content: center;
    padding-right: 0;
    order: 2;

    @include media(tablet) {
      padding-right: 32px;
      order: 1;
      flex: 1 1 70%;
      width: 100%;
      max-width: 350px;
    }

    @include media(desktop-s) {
      max-width: 500px;
      margin-right: 80px;
    }

    .banner__label {
      display: flex;
      align-items: flex-end;
      margin-bottom: 8px;

      .icon {
        width: 24px;
        height: 24px;
        fill: #334652;
        display: flex;
        margin-right: 8px;
      }

      .label__text {
        font-size: 14px;
        font-weight: 300;
        display: flex;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .banner__text {
      .banner__title {
        h1 {
          font-size: 36px;
          line-height: 47px;
          font-weight: 900;
          color: #334652;
          margin-bottom: 32px;
          width: 100%;
        }
      }
    }
  }

  .banner__actions {
    // margin: 64px 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .button, .banner__actions-text {
      display: flex;
    }

    .banner__actions-text {
      margin: 0px 8px;
    }

    a.link {
      font-size: 14px;
      color: var(--primary-color);
      text-decoration: underline;
    }
  }

  &.banner--boxed {
    border-radius: 12px;
    background: var(--darkest-color);
    position: relative;

    .banner__content {
      .banner__text {
        .banner__title {
          color: var(--lightest-color);
          font-family: var(--primary-font);
          font-weight: 600;
        }

        .label__description {
          color: var(--lightest-color);
          font-family: var(--primary-font);
          opacity: 0.85;
        }
      }

      .banner__actions {
        margin: 0px;
        margin-top: 24px;
      }
    }

    .banner__image {
      display: none;
      height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      background-size: cover;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      mask: url("https://storage.googleapis.com/portal-assets-prod/shared/images/images/banner-mask.svg");
      mask-type: luminance;
      mask-position: center left;
      mask-repeat: no-repeat;
      mask-size: cover;

      @include media(tablet) {
        display: flex;
        width: calc(100% - 400px);
      }

      @include media(desktop-s) {
        display: flex;
        width: calc(100% - 580px);
      }
    }

    .banner__inside-image {
      background-size: cover;
      background-position: center left;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
    }


    &.banner--green {
      background: var(--accent-color-07);
    }
    &.banner--purple {
      background: var(--accent-color-08);
    }

    &.banner--yellow {
      background: var(--accent-color-09);
    }
    &.banner--blue {
      background: $secondary-color;
    }
  }
}

.banner__description {
  color: $darkest-color;
  opacity: .4;
  font-family: "canada-type-gibson", "Helvetica Neue", Arial, sans-serif;
  font-family: var(--primary-font);
  font-size: 18px;
}

.banner__title {
  color: $darkest-color;
  font-weight: 700;
  font-size: 28px;
}

.banner__text2 {
  .banner__title {
    font-size: 26px;
    line-height: 37px;
    font-weight: 800;
    margin-bottom: 32px;
  }
}
