@font-face {
  font-family:"canada-type-gibson";
  src:url("https://use.typekit.net/af/b01614/00000000000000003b9b0ba4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
  format("woff2"),
  url("https://use.typekit.net/af/b01614/00000000000000003b9b0ba4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
  format("woff"),
  url("https://use.typekit.net/af/b01614/00000000000000003b9b0ba4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
  format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:300;
}

@font-face {
  font-family:"canada-type-gibson";
  src:url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
  format("woff2"),
  url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
  format("woff"),
  url("https://use.typekit.net/af/299bdc/00000000000000003b9b0ba5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
  format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family:"canada-type-gibson";
  src:url("https://use.typekit.net/af/795dd6/00000000000000003b9b0ba8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
  format("woff2"),
  url("https://use.typekit.net/af/795dd6/00000000000000003b9b0ba8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
  format("woff"),
  url("https://use.typekit.net/af/795dd6/00000000000000003b9b0ba8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
  format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:600;
}

@font-face {
  font-family:"canada-type-gibson";
  src:url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
  format("woff2"),
  url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
  format("woff"),
  url("https://use.typekit.net/af/1d6761/00000000000000003b9b0ba9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
  format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:700;
}

.tk-canada-type-gibson { font-family: "canada-type-gibson",sans-serif; }